{{ $page := . }}
{{ if $page.IsPage }}
{{ $featured_image := "" }}
{{ if $page.Params.image }}
  {{ $featured_image = $page.Params.image | absURL }}
{{ else if $page.Params.cover }}
  {{ $featured_image = $page.Params.cover | absURL }}
{{ else if $page.Site.Params.defaultFeaturedImage }}
  {{ $featured_image = $page.Site.Params.defaultFeaturedImage | absURL }}
{{ end }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ $page.Title }}",
  "name": "{{ $page.Title }}",
  "description": "{{ $page.Description | default $page.Summary }}",
  "keywords": {{ $page.Params.tags | jsonify }},
  "inLanguage": "en",
  "image": "{{ $featured_image | default "https://img-c.udemycdn.com/course/480x270/950390_270f_3.jpg" }}",
  "datePublished": "{{ $page.Date.Format "2006-01-02T15:04:05-07:00" }}",
  "dateModified": "{{ $page.Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
  "author": {
    "@type": "Person",
    "name": "{{ $page.Params.author | default "Josh Smith" }}",
    "url": "{{ $page.Site.Params.authorUrl | default "https://courseswyn.com/about/" }}",
    "image": "{{ $page.Site.Params.authorImage | default "https://courseswyn.com/img/profile.jpg" }}",
    "sameAs": [
      "https://twitter.com/CoursesGift",
      "https://github.com/Coutons"
    ],
    "knowsAbout": [
      "https://en.wikipedia.org/wiki/Machine_learning",
      "https://en.wikipedia.org/wiki/Artificial_intelligence",
      "https://en.wikipedia.org/wiki/Deep_learning",
      "https://en.wikipedia.org/wiki/Computer_vision",
      "https://en.wikipedia.org/wiki/Recommender_system",
      "https://en.wikipedia.org/wiki/Time_series",
      "https://en.wikipedia.org/wiki/Forecasting",
      "https://en.wikipedia.org/wiki/Python_(programming_language)",
      "https://en.wikipedia.org/wiki/JavaScript",
      "https://en.wikipedia.org/wiki/HTML",
      "https://en.wikipedia.org/wiki/CSS",
      "https://en.wikipedia.org/wiki/SQL",
      "https://en.wikipedia.org/wiki/NoSQL",
      "https://en.wikipedia.org/wiki/Kaggle",
      "https://en.wikipedia.org/wiki/Google_Colaboratory",
      "https://en.wikipedia.org/wiki/Google_Cloud_Platform",
      "https://en.wikipedia.org/wiki/Amazon_Web_Services",
      "https://en.wikipedia.org/wiki/Natural_language_processing",
      "https://en.wikipedia.org/wiki/Computer_science",
      "https://en.wikipedia.org/wiki/Software_engineering"
    ]
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ $page.Site.Title | default "CoursesWyn" }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ $page.Site.Params.logo | default "https://courseswync.com/logo.png" }}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ $page.Permalink }}"
  }
}
</script>
{{ end }}
